*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-weight: bold;
}
body{
    width:100vw;
    height:100vh;
    background-color: #56a5eb;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80%;
    height: 70%;
    display:flex;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
    margin: 0 auto;
    /* background-color: red; */

}
.container .innercontainer{
    width: 50%;
    height: 50%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.5em;
}
/* box-shadow: 0 0 10px 5px  #3e83bf; */
.container .innercontainer h1{
    font-size: 3em;
    margin-bottom: 0.5em;
}
.container .innercontainer a button{
    text-decoration: none;
    cursor: pointer;
    width: 13em;
    height: 3em;
    margin: 0.5em 0;
    background-color: #fff;
    border: none;
    color: #0289ff;
}
.container .innercontainer a button:hover{
    background-color: transparent;
    border: 0.1em solid #fff;
    color: #fff;
}

/* FORM STYLING */
form{
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
form > * {
    text-decoration: none;
    cursor: pointer;
    width: 13em;
    height: 3em;
    margin: 0.5em 0;
    background-color: #fff;
    border: none;
    color: #0289ff;
}
form #username{
    cursor:text;
    padding: 0.4em;
    box-shadow: 0 0 5px 1px rgb(75, 125, 167);
}
form input::placeholder{
    color: #aaa;
}
form #savescore:hover{
    background-color: transparent;
    border: 0.1em solid #fff;
    color: #fff;
}

