*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width:100vw;
    height:100vw;
    background-color: #aed7f7;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 90%;
    height: 90%;
    display:flex;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
    margin: 0 auto;
    /* background-color: red; */
}
.container .innercontainer{
    width: 100%;
    height: 60%;
    /* background-color: ; */
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5%;
}
.container .innercontainer #question{
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    color: #000;
    margin: 1.5em;
    
}
.container .innercontainer .choices{
    margin: 0.2em 0;
    width: 100%;
    height: 3.5em;
    background: #fff;
    display: flex;
    cursor: pointer;
}
.container .innercontainer .choices:hover{
    width: 101%;
    box-shadow: 0 0 5px 1px #86b1d4;
}
.container .innercontainer .choices .choice{
    width:100%;
    color: #000;
    padding: 0 1em;
    display: flex;
    align-items: center;
}
.container .innercontainer .choices .number{
    float: left;
    height: 100%;
    width: 4em;
    background: #0088ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .innercontainer .correct{
    background-color: rgb(26, 186, 26);
}
.container .innercontainer .incorrect{
    background-color: rgb(238, 35, 35);
    
}

.container .innercontainer .scorecontainer{
    width: 100%;
    height: 30%;
    /* background: red; */
    padding: 0.4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .innercontainer .scorecontainer >*{
    width: 4em;
    height: 95%;
    /* background-color: blue; */
    color: #000;
    font-weight: 550;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.container .innercontainer .scorecontainer h3{
    color: #007be6;
    font-size: 2em;
}


/* loading..styles.... */

.container #loading{
    width: 5em;
    height: 5em;
    border: 1em solid rgba(213, 216, 216, 0.33);
    border-radius: 50%;
    border-top: 1em solid #56a5eb;
    animation: animate 1s linear infinite;
}
@keyframes animate {
    0%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.container .hidden{
    display: none;
}
